.adverts-table{
    width: 100%;
    background-color: #EEEEF3;
    margin: 0 auto 40px auto;
    padding-bottom: 20px;
    table{
        width: 100%;
        margin: 0 auto;
        padding: 0;

    }
}
.table-headers{
    text-align: center;
    color: #FFFFff;
    background-color: #8f8f8f;
    height: 34px;
}
.address-table{
    width: 30%;
}
.table-advert{
    background: #e0e0e4;
    text-align: center;
    height: 34px;
    cursor: pointer;
}
.table-advert:hover{
    background: rgb(75, 253, 253);
}
.my-advert-container{
    display:flex;
    direction: ltr;
    padding: 5px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.my-advert-content{
    border: 1px solid #DCDCDC;
    padding: 5px;
    background: #f9f9f9;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 20px;
    min-height: 304px;
    width: 75%;
}
.my-advert-management{
    @extend .my-advert-content;
    width: 20%;
    min-height: unset;
    height: 240px;
}
.my-advert-pictures{
    @extend .my-advert-content;
    width: 97%;
    .my-content-title{
        margin-bottom: 30px;
    }
}
.my-content-title{
    background: #FE7011;
    width: 100%;
    height: 32px;
    padding-right: 6px;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 200%;
}
.my-advert-image-container{
    position: relative;
    margin-bottom: 5px;
    float: right;
    width: 17%;
    margin-left: 2.75%;

    img{
        width: 122px;
        height: 122px;
        box-shadow: 0px 10px 12px -6px #808080;
        background: #ffffff;
        transition: transform 200ms ease-in;
        margin-bottom: 10px;
        margin-right: 15px;
    }
}
.advert-content-column{
    width: 32%;
    border-left: 1px solid #e0e0e0;
    margin-bottom: 20px;
    margin-top: 8px;
    padding-right: 3px;
    margin-right: 8px;
}
.advert-field{
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    span{
        font-weight: 700;
    }
    div{
        max-width: 100%;
        overflow-wrap: break-word;
    }
    img{
        width: 30px;
        height: 30px;
        float: right;
        border: 0px;
    }
    .orange{
        color: #fe933f;
        line-height: 1.9;
    }
    input{
        width: 60px;
    }
}
.unchecked{
    text-decoration: line-through;
    opacity: 0.5;
}
.content-column-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.charecteristics-div{
    height: 30px;
    width: 48%;
}
.edit-button{
    background: #00b63c;
    border-radius: 6px;
    color: #ffffff;
    font-weight: bold;
    height: 30px;
    padding-right: 6px;
    font-size: 16px;
    line-height: 30px;
    margin-right: 6px;
    cursor: pointer;
    display: block;
    width: 80%;
    border: none;
    margin-top: 10px;
    span::before{
        content: "✎";
    }
}
.edit-mobile{
    border: none;
    color: #ff6600;
    font-size: 2rem;
    cursor: pointer;
    span{
        position: relative;
        right: 20px;
    }
    span::before{
        content: "✎";
    }
}
.edit-status-container{
    margin-top: 10px;
    select{
        border-radius: 6px;
        font-size: 1.1em;
        height: 25px;
        margin-right: 6px;
    }
}
.edit-status-button{
    padding: 0 5px;
    height: 23px;
    margin-right: 6px;
    line-height: 23px;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    color: #ff6600;
    border: 1px solid #ff6600;
}
.edit-status-button:hover{
    color: white;
    background: #ff6600;
}
.delete-advert-button{
    margin-top: 20px;
    @extend .edit-status-button;
    width:80%;
}
.mobile-advert{
    height: 83px;
    cursor: pointer;
    font-size: 14px;
    .img-wrapper-user{
        width: 100px;
    }
    td{
        border-top:1px solid  #FDFCFC;
        border-bottom:1px solid  #CBCBCB;
    }
    img{
        float: right;
        margin: 2px 10px;
        width: 90px;
        height: 65px
    }
}
.mobile-advert-text{
    font-size: 14px;
}
@media (max-width:900px){
    .personal-area-container{
        width: 100%;
    }
    .edit-form-content{
        flex-direction: column;
    }
    .update-button{
        right: unset;
        width: 100px;
    }
    .personal-area-header{
        font-size: 1.3rem;
    }
    .my-advert-container{
        padding: 0;
        direction: revert;
        flex-direction: column;
        .my-advert-pictures,.my-advert-management,.my-advert-content{
            width: 100%;
            padding: 0;
            border-radius: unset;
        }
        .my-advert-image-container{
            width:unset;
        }
        .my-content-title{
            border-radius: unset;
        }
    }
    .my-advert-management{
        cursor: pointer;
        position: fixed;
        bottom: 0;
        z-index: 9;
        margin: 0px;
        height: unset;
        .logo-button{
            background-repeat: no-repeat!important;
            width: 25%;
            height: 55px;
            text-align: center;
            background: #FE7011;
            display: inline-block;
            vertical-align: bottom;
            color: white;
        }
        .logo-button.edit{
            background-size: 30px 30px;
            span{
                position: relative;
                top: 34px;
                left: 0;
                width: 100%;
                text-align: center;
            }
            background-position: 50% 5px;
            background-image: url(//images.yad2.co.il/Pic/yad2mobile/my/personalArea/edit.png);
        }
        .logo-button.back{
            @extend .logo-button.edit;
            background-image: url(//images.yad2.co.il/Pic/yad2mobile/flat/new_back.png);
        }
        .logo-button.jump{
            @extend .logo-button.edit;
            background-image: url(//images.yad2.co.il/Pic/yad2mobile/my/personalArea/jump.png);
        }
        .logo-button.delete{
            @extend .logo-button.edit;
            background-image: url(//images.yad2.co.il/Pic/yad2mobile/my/personalArea/delete.png);
        }
    }
    .my-advert-pictures{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .advert-content-column{
        width: 45%;
        border: unset;
    }
}