.my-advert-image-container{
    .media-input-wrapper{
        width: 117px;
        height: 122px;
    }
    .reg-pic-wrapper{
        width: 122px;
        height: 122px;
        top: 0;
        right: 0;
    }
    .remove-pic-button{
        right:18px;
    }
}
.hidden{
    display: none;
}
.shown{
    display: unset;
}
.advert-field{
    position: relative;
    align-items: center;
    textarea{
        border-radius: 6px;
        height: 150px;
        width: 100%;
        padding: 16px 10px 20px 20px;
    }
    .property-width{
        position: absolute;
        left: 20px;
        height: 30px;
        width: 120px!important;
    }
    select{
        width: 60%;
        border-radius: 6px;
    }
}
.radio-field{
    margin-top: 15px;
    margin-bottom: 25px;
}
.num-input{
    width: 100px!important;
}
.content-column-wrapper{
    .checkbox-wrapper{
        width: 70px;
        input{
            width: 70px;
        }
    }
}
@media(max-width:900px){
    .my-advert-management.editing{
        position: unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .my-advert-content.editing{
        .react-calendar{
            max-width: unset;
            width:250px;
        }
        .advert-content-column.editing{
            width: 60%;
        }
        .checkbox-wrapper{
            margin: 4px;
        }
        .radio-field.editing{
            .property-width{
                left:-16px;
                display:block;
            }
        }
    }
}