.advanced-search-container{
    left: 0;
    background-color: #fff;
    width: 960px;
    position: absolute;
    box-shadow: 0 2px 6px 0 rgba(0 ,0 ,0 , 0.1);
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding: 20px;
}
.advance-search-title{
    display: block;
    margin: 30px 40px 0 0;
    text-align: right;
    font-size: 1rem;
    font-weight: 500;
}
.advance-search-row{
    max-width: unset;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 0 40px;
    text-align: right;
    border-bottom: 1px solid #ccc;
}
.advance-checkbox-option{
    width: 20%;
    padding: 10px;
}
.svg-search-icon{
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 3px;
}
.range-input-wrapper{
    max-width: 30%;
}
.label-title{
    margin-left: 50px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
.range-input{
    display: inline-flex;
    input,select{
        margin-left: 6px;
        outline: none;
        padding: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 1px;
        background-color: #fff;
        height: 40px;
    }
    select{
        width: 120px;
        option{
            height: 50px;
        }
    }
}
.date-input-wrapper{
    margin-right: 25px;

    input{
        cursor: pointer;
    }
}
.absolute-cal{
    position: absolute;
    bottom: 150px;
    left: 80px;
}
.clear-form-wrap{
    width: 75px;
    button{
        transform: translateX(-250px);
        border: none;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        color: royalblue;
        text-align: center;
        appearance: none;
        background-color: transparent;
        background-color: initial;
        outline: none;
    }
}
.buttons-container{
    display: flex;
}
@media (max-width:400px){
    .advanced-search-container{
        width: 100vw;
    }
    .clear-form-wrap{
        button{
            transform: unset;
        }
    }
    .advance-search-row{
        margin: 0px;
        align-items: unset;
        flex-flow: unset;
        flex-wrap: wrap;
    }
    .date-input-wrapper{
        width: 100%;
        max-width: unset;
        .react-calendar{
            width: 250px;
        }
    }
    .range-input-wrapper{
        width: 100%;
        max-width: unset;
    }
}