.header{
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
    border-top: 5px solid #ff7100;
    box-shadow: 0 0 2px 0 rgba(0 ,0 ,0, 0.2);
}
.yad-2-logo{
    width: 90px;
    margin:0px;
}
.header__nav{
    display: flex;
    position: relative;
    z-index: 800;
    height: 70px;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.header__nav_mobile{
    
}
.toggle-button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    vertical-align: middle; 
}
.toggle-text{
    color: #606060;
    margin: 0;
    font-size: 24px;
    margin-right: 3px;
}
.toggle-bar-wrapper{
    width: 14px;
    display: block;
}
.toggle-button__bar {
    width: 100%;
    height: 0.15rem;
    background: #606060;
    display: block;
    margin: 0.3rem 0;
}
.toggle-button:focus {
    outline: none;
}
.mobile-nav {
    display: block;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}
  
.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.mobile-nav__item {
    margin: 1rem 0;
}
.header__logout-nav{
    @extend %a-nav;
    display: inline-block;
    cursor: pointer;
}
